.footer {
    height: 60vh;
    display: flex;
    width: 100vw;
    background: linear-gradient(90deg, rgba(227, 177, 242, 1) 0%, rgba(194, 170, 242, 1) 35%, rgba(130, 229, 249, 1) 100%);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 9rem;
}