h1 {
  margin: 0;
  width: 50rem;
}
.search-container {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}
.container {
  height: 40vh;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search-bar-container {
    width: 27rem;
    height: 2rem;
  }
  
  input {
    width: 27rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
  }
  
  @media screen and (max-width: 720px) {
    h1 {
      width: auto;
      margin: 1.5rem;
    }
    
    input {
     width: 20rem;;
    }
    .container {
      margin: 0;
      padding: 0;
    }
    
    .search-container {
      align-self: center;
    }
    .search-bar-container {
      width: auto;
    }
  }
