button {
    color: rgb(221, 219, 219) !important;
	text-transform: uppercase;
	text-decoration: none;
	background: black;
    padding: 0.8rem;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
    cursor: pointer;
    margin-left: 2rem;
}
a {
    text-decoration: none;
    color:rgb(221, 219, 219);
}

button:hover {
	background: #434343;
    color:white !important;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;   
}

button a:hover {
    color: white;
}